@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #8d8d8d;
  --secondary-color: #222222;
  --text-color: #3a3a3a;
  --background-color: #121212;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  color: var(--primary-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

*{
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}